<h1>Suggestions</h1>

<ul class="w-list-unstyled feed">
	<% i = 0 %>
		<% for friendship in @friends %>
			<% for user in current_user.common_friends_with(friendship) %>
				<% if !user.friends_with? current_user then %>
					<li>
						<div class="w-row">
							<div class="w-col w-col-3new">
								<%= link_to image_tag(user.avatar.url, class: "activity-image"), profile_path(user.id) %>
							</div>
							<div class="w-col w-col-9 w-small-6">    
								<%= link_to user.familyname, profile_path(user.id) %>
							</div>
						</div>
					</li>

					<%	i +=1 
						break if i >= 10
					%>
				<% end %>
			<% end %>
		<% end %>
	
</ul>