<div class="w-col w-col-4">
  <h1>Notifications</h1>
  <ul class="w-list-unstyled">
    <li>
      <div class="notification">Notification 1</div>
    </li>
    <li>
      <div class="notification">Notification 2</div>
    </li>
    <li>
      <div class="notification">Notification 3</div>
    </li>
  </ul>
</div>
