<div class="w-container dashboard-map">
  <div class="w-widget w-widget-map" data-widget-latlng="10.96421,-74.797043" data-widget-style="roadmap" data-widget-zoom="13"></div>
</div>
<div>
	<div class="w-container">
  		<div class="w-row">
			<%= render partial: 'user/friends' %>

			<div id="#feed">
				<%= render partial: 'user/feed' %>
			</div>

			<div id="#notifications">
				<%= render partial: 'user/notifications' %>
			</div>
		</div>
	</div>
</div>
