<h1>Muneris#dashboard</h1>
<p>Find me in app/views/muneris/dashboard.html.erb</p>
<div id="#feed">
	<%= render partial: 'user/feed' %>
</div>
<div id="#notifications">
	<%= render partial: 'user/notifications' %>
</div>
<div id="#friends">
	<%= render partial: 'user/friends' %>
</div>