<div>
	<div class="w-container">
 		<div class="w-row">
 			<%= render 'layouts/partials/netsidebar' %>
			<div id="#friends">
			<%= render partial: 'user/friends' %>
			</div>
		</div>
	  <%= form_tag network_path , :method => 'get' do %>
        <%= render 'layouts/formsearch/base' %>
      <% end %>
	</div>
</div>
