<div>
	<div class="w-container">
 		<div class="w-row">
 			<%= render 'layouts/partials/netsidebar' %>
			<div id="#friends">
			<%= render partial: 'user/friends' %>
			</div>
		</div>
	</div>
</div>
