<div>
    <div class="w-container">
      <div class="w-row">
			<%= render 'layouts/partials/sidebar' %>
			<%= render 'layouts/partials/data' %>

		<!--<div id="#notifications"><%= render partial: 'user/notifications' %></div>-->
      </div>
    </div>
</div>