<div class="w-col">
<h4>You just can compare up to 5 users simultaneously</h4>
<%= high_chart("ebaraverage", @ebaraverage) %>
<%= high_chart("wbaraverage", @wbaraverage) %>
<%= high_chart("gbaraverage", @gbaraverage) %>
</div>