<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Feb 27 2014 03:51:21 GMT+0000 (UTC) -->
<html data-wf-site="52e85101141f8e087d000001">
<head>
  <meta charset="utf-8">
  <title>Muneris</title>
  <meta name="description" content="Muneris is a social network that helps households and local businesses administrate and share their consumption bills.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/welcome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Open Sans:300,400,600,700,800","Duru Sans:regular:latin-ext,latin","Carrois Gothic:regular","Dosis:200,regular"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51e081c5241660ce7800001f/51e755c7e48178d53e000034_thumbnail-starter.png">
</head>
<body>
  <div class="section header">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 company-column">
          <%= image_tag("images/logo.png", class: "logo") %>
          <!--<img class="logo" src="../../assets/images/logo.png" width="108" alt="../app/assets/images/logo.png"> -->
        </div>
        <div class="w-col w-col-8 nav-bar"><a class="nav-link log-in" href="login.hmtl" target="_blank">Log In</a>
        <a class="nav-link sign-up" href="signup.html" target="_blank">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="hero-bg">
      <div class="w-slider w-hidden-small w-hidden-tiny" data-animation="slide" data-duration="500" data-infinite="1" data-hide-arrows="1">
        <div class="w-slider-mask">
          <div class="w-slide">
            <%= image_tag("images/nextdoor.png", class: "logo") %>
            <!-- <img src="../../assets/images/nextdoor.jpg" width="1500" height="300" alt="52f31dfe5d8eed2b6b00072b_nextdoor.jpg"> -->
          </div>
          <div class="w-slide">
            <%= image_tag("images/bills.png", class: "logo") %>
            <!-- <img src="../../assets/images/bills.jpg" alt="52f31dba73df7f296b0005a1_bills.jpg"> -->
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container container-1">
        <div class="w-clearfix pre-sign-up">
          <h1 id="page-nav-Section-1">A new way to administrate&nbsp;<br>and share your consumption bills</h1><a class="sing-up-link" href="#">Sign Up for free</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="section">
    <div class="w-container">
      <h4>Use Muneris an enjoy the following services</h4>
      <div class="section-description">Just a little snippet of what we can do.</div>
      <div class="w-row snippet-row">
        <div class="w-col w-col-3 w-col-small-6">
          <a class="w-inline-block snippet" href="#">
            <img class="example-image" src="../../assets/images/amigos.jpg" alt="52e9989008c9b5800e0007b7_amigos.jpg">
            <div class="snippet-text-section social-snippet">
              <div class="snippet-title">Share with your network</div>
              <div class="snippet-text">We allow to share your record with close friends, neighbors and local businesses.</div>
            </div>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <a class="w-inline-block snippet" href="#">
            <img class="example-image" src="../../assets/images/cloud.jpg" alt="52e99850b75b892d130008b9_cloud.jpg">
            <div class="snippet-text-section cloud-snippet">
              <div class="snippet-title">Your records on the cloud</div>
              <div class="snippet-text">Backup and manage your records on the cloud for easy lookup and comparison.</div>
            </div>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <a class="w-inline-block snippet" href="#">
            <img class="example-image" src="../../assets/images/map.jpg" alt="52e998614887ee2e13000889_map.jpg">
            <div class="snippet-text-section map-snippet">
              <div class="snippet-title">Map view of your sector</div>
              <div class="snippet-text">Have an ample vision for the consumption around you with our georeference system.</div>
            </div>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6">
          <a class="w-inline-block snippet" href="#">
            <img class="example-image" src="../../assets/images/alarms.jpg" alt="52e9987cd1e4ea7e0e000993_alarms.jpg">
            <div class="snippet-text-section alert-snippet">
              <div class="snippet-title">Alerts</div>
              <div class="snippet-text">Set alerts for&nbsp;and be notified if&nbsp;your consumption seems to high.</div>
            </div>
          </a>
        </div>
      </div>
      <div class="w-row secondary-row">
        <div class="w-col w-col-9 w-col-small-6">
          <h4>Other important stuff</h4>
          <p class="section-description">We want to provide users with a new and improved way to manage their consumption bills that helps them in the long run to save money, and the quality of living.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-6 button-column"><a class="sign-up button sign-up" href="#">Enter now</a>
        </div>
      </div>
    </div>
  </footer>
  <div class="section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 left-footer-col">
          <div class="footer-text">© Muneris. All Rights Reserved.</div>
        </div>
        <div class="w-col w-col-6 footer-nav-bar"><a class="footer-link" href="#">Universidad del Norte</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/javascripts/welcome.js></script>
</body>
</html>