<div class="w-col w-col-5">
  <h1>Activity</h1>
 	
 	<div class="w-row">
	 	<div class="w-col w-col-6">
		 	<h3><strong>Records</strong></h3>
		 	<br>
		 	<%= render partial: 'layouts/partials/grids' %>
	 	</div>
	 	<div class="w-col w-col-6">
		 	<h3><strong>Statistics</strong></h3>
		 	<br>
		 	<%= render partial: 'layouts/partials/charts' %>
	 	</div>
	</div>
</div>
