<div class="w-col">
<br>
<%	case what
		when 'bill' then %>	<p>No records found. Go <%= link_to 'here', new_bill_path %> to add a bill.</p>
	<% 	when 'net' then %> 	<p>No records found. Go <%= link_to 'here', new_network_path %> to add some users.</p>
<% end %>

</div>