<div class="w-col">
<p>
No records found.
<%	case what
		when 'bill' then %>	 Go <%= link_to 'here', new_bill_path %> to add a bill.
	<% 	when 'net' then %>   Go <%= link_to 'here', new_network_path %> to add some users.
<% end %>
</p>
<br>

</div>