<div class="w-col w-col-5">
  <h1>Activity</h1>

    <%= grid(@bills_grid, show_filters: :no) do |g|

        g.blank_slate  "No records found"

        g.column name: 'Consumption', attribute: 'consumption'

        g.column  name: 'Payment Value', attribute: 'value'

        g.column name: 'Date', attribute: 'date'

      end -%>

    <% 
	    @chart = LazyHighCharts::HighChart.new('graph') do |f|
	      f.xAxis(:categories => @bills.map{|each| each.date.to_date.strftime "%b %Y"})
	      f.series(name: "Your data", :yAxis => 0, :data => @bills.map(&:consumption))

	      f.yAxis({:title => {:text => "Consumption (kWh)", :margin => 10} })

	      f.legend(:align => 'center', :verticalAlign => 'top', :y => 30, :enabled => false, :layout => 'vertical',)
	      
	    end
    %>

    <%= high_chart("my_id", @chart) %>

</div>