</body>
<footer>
  <div class="section footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 left-footer-col">
          <div class="footer-text">© Muneris.</div>
        </div>
        <div class="w-col w-col-6 footer-nav-bar">
        <a class="footer-link" href="mailto:jscamargo@uninorte.edu.co">Contacts us</a>
        <a class="footer-link" href="http://www.uninorte.edu.co">Universidad del Norte</a>

        </div>
      </div>
    </div>
  </div>
</footer>
