
    <div class="section footer">
        <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-6 left-footer-col">
              <div class="footer-text">© Muneris. All Rights Reserved Fundación Universidad el norte.</div>
            </div>
            <div class="w-col w-col-6 footer-nav-bar"><a class="footer-link" href="http://www.uninorte.edu.co">Universidad del Norte</a>
            </div>
          </div>
        </div>
    </div>


    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
