<div class="w-box">
<p><strong>Energy bills</strong></p>
<%= grid(@ebills_grid, allow_showing_all_records: false, show_filters: :no) do |g|

  g.blank_slate  partial: 'layouts/partials/blank', locals: { section: 'bill' } 

  g.column name: 'Consumption', attribute: 'consumption' do |bill|
    bill.consumption.to_s + " kWh"
  end

  g.column  name: 'Payment', attribute: 'value' do |bill|
    number_to_currency(bill.value, :precision => 0)
  end

  g.column name: 'Date', attribute: 'date' do |bill|
    bill.date.strftime "%b %Y"
  end

end %>
</div>
<div class="w-box">
<p><strong>Water bills</strong></p>
<%= grid(@wbills_grid, allow_showing_all_records: false, show_filters: :no) do |g|

  g.blank_slate  partial: 'layouts/partials/blank', locals: { section: 'bill' } 

  g.column name: 'Consumption', attribute: 'consumption' do |bill|
    bill.consumption.to_s + " m3"
  end

  g.column  name: 'Payment', attribute: 'value' do |bill|
    number_to_currency(bill.value, :precision => 0)
  end

  g.column name: 'Date', attribute: 'date' do |bill|
    bill.date.strftime "%b %Y"
  end

end %>
</div>
<div class="w-box">
<p><strong>Gas bills</strong></p>

<%= grid(@gbills_grid, allow_showing_all_records: false, show_filters: :no) do |g|

  g.blank_slate  partial: 'layouts/partials/blank', locals: { section: 'bill' } 

  g.column name: 'Consumption', attribute: 'consumption' do |bill|
    bill.consumption.to_s + " m3"
  end

  g.column  name: 'Payment', attribute: 'value' do |bill|
    number_to_currency(bill.value, :precision => 0)
  end

  g.column name: 'Date', attribute: 'date' do |bill|
    bill.date.strftime "%b %Y"
  end

end %>
</div>