<h1>Editing bill</h1>
<div>
	<div class="hero-bg">
		<div class="w-container container-1">
			<%= render 'form' %>

			<p>
				<%= link_to 'Show', @bill %> |
				<%= link_to 'Back', :back %>
			</p>
		</div>
	</div>
</div>
