

<div>
	<div class="hero-bg">
		<div class="w-container container-1">
			<h1 class="log-title" id="page-nav-Section-1">Add new bill</h1>
			<%= render 'form' %>
			<p>
				<%= link_to 'Back', :back %>
			</p>
		</div>
	</div>
</div>